{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/logo/bsuir_logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}" ></script>
    <script src="{% static 'js/main.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/angular.min.js' %}" ></script>
    <script src="{% static 'js/main_ang.js' %}" ></script>
    <title>{% block title %}BSUIR Labs{% endblock %}</title>
  </head>
  <body >
    <div id="wrapperr" calss="container-fluid">
      <div id="navbar" class="container-fluid ">
        <h2 class="navbarTitle">Labs.com</h3>
          {% block signin %}

          {% endblock %}
        </div>

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
