{% extends 'base.html' %}
{% load staticfiles %}

{% block signin %}
  <span id='menu-opener' class="glyphicon glyphicon-align-justify menu-ico"></span>
{% endblock %}


{% block content %}
  <div id="wspace" class="container-fluid ">
    <p id="" >{{user}}</p>

  </div>
{% endblock %}

{% block menu %}
  <div id="menu" class="menu">
    <img class="img-circle  avatar_ac" src="/{{user.avatar.url}}/" alt="">
    <div class="info_user">
        <p>{{user.last_name}}</p>
        <p>{{user.first_name}}</p>
        <p id="info-p3"><span class="glyphicon glyphicon-chevron-down c" > </span></p>
    </div>

    <div class="info_menu_top">

      <ul class="info_menu">
        <li> <span class="glyphicon glyphicon-cog" ></span> Настройки </li>
        <li> <span class="glyphicon glyphicon-log-out" ></span> <a href="/logout/">выйти</a> </li>
      </ul>
      <hr class="sepr">


      <ul id="d-menu" class="dashboard-user">
        <li><span class="glyphicon glyphicon-list-alt" ></span> лабораторные <span  class="glyphicon glyphicon-chevron-down d-menu-arrow" > </span></li>
        <li><span class="glyphicon glyphicon-record"></span> Oсис</li>
        <li><span class="glyphicon glyphicon-record"></span> итирод</li>
        <li><span class="glyphicon glyphicon-plus-sign" ></span> добавить</li>
      </ul>

      <ul id="d-menu" class="dashboard-user">
        <li><span class="glyphicon glyphicon-comment" ></span> Мои сообщения <span  class="glyphicon glyphicon-chevron-down d-menu-arrow" > </span></li>
        <li><span class="glyphicon glyphicon-record"></span> Oсис</li>
        <li><span class="glyphicon glyphicon-record"></span> итирод</li>
        <li><span class="glyphicon glyphicon-plus-sign" ></span> добавить</li>
      </ul>

      <ul id="d-menu" class="dashboard-user">
        <li><span class="glyphicon glyphicon-briefcase" ></span> Мои планчики<span  class="glyphicon glyphicon-chevron-down d-menu-arrow" > </span></li>
        <li><span class="glyphicon glyphicon-record"></span> Oсис</li>
        <li><span class="glyphicon glyphicon-record"></span> итирод</li>
        <li><span class="glyphicon glyphicon-plus-sign" ></span> добавить</li>
      </ul>



  </div>




  </div>
{% endblock %}
